<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="../static/css/estilo.css" rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css">
    <link href="../static/css/cdnjsdeliver.css" rel="stylesheet" th:href="@{/css/cdnjsdeliver.css}" type="text/css">
    <link href="../static/css/maxcdn.css" rel="stylesheet" th:href="@{/css/maxcdn.css}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="icon" th:href="@{/images/login-image.png}" type="image/icon type">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg gradient-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}"
           data-toggle="popover" title="Inicio" data-content="Inicio">
            <i class="fa fa-home" style="font-size: 25px; color: white;"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}" href="#"
                       data-toggle="popover" title="Cerrar Sesión" data-content="Cerrar Sesión">
                        <i class="fa fa-sign-out-alt" style="font-size: 25px; color: white;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<div class="container">
    <br>
    <h2 th:if="${list.isEmpty()}">No hay entradas</h2>
    <div th:if="${!list.isEmpty()}">
        <h2>Mantenimiento de Entradas</h2>
        <br>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entrada : ${list}">
                <td><a th:href="@{/blog/{id}(id=${entrada.id})}"><span th:text="${entrada.titulo}"></span></a></td>
                <td th:text="${entrada.contenido}">
                    <!-- <td><img th:src="${'/files/' + entrada.imagen}"><br></td> -->
                <td><a class="btn btn-info hover" th:href="@{/save/{id}(id=${entrada.id})}">Editar</a></td>
                <td><a class="btn btn-danger hover2" th:href="@{/delete/{id}(id=${entrada.id})}">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <a href="/save/0" class="btn btn-primary rounded-pill hover">Agregar</a> <a href="/" class="btn btn-primary hover rounded-pill">Volver</a>
    </div>
</div>
</body>
</html>